@import 'constants';

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    color: $textColor;
    background-color: $lightBackground;
    padding: 25px 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease, box-shadow 0.3s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Inter', sans-serif;

    @include media-min-phone {
        padding: 30px 10px;
        justify-content: center;
    }

    &.hide {
        top: -100px;
    }

    &.show {
        top: 0;
    }
}

.link_navigate {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 25px;
}

.links {
    text-decoration: none;
    color: $textColor;

    &:hover {
        font-weight: bold;
    }
}